.container {
  width: 19em;
  height: 20em;
  text-align: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: rgb(53, 52, 52);
  margin-bottom: 3em;
  position: relative;
  border-radius: 10px;
  overflow-y: auto;
}

.container:hover {
  transform: scale(1.1);
}

.info{
  padding: 5px;
}

.contenidoVoltear {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.contenidoVoltear.hidden {
  opacity: 0;
}

h3 {
  font-size: 18pt;
  border-bottom: 1px solid rgb(230, 226, 226);
  line-height: 2em;
  margin-top: -10px;
}

.botonEditar {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.botonEditar:hover {
  color: rgb(125, 125, 125);
  cursor: pointer;
}

.botonDelete{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background:none;
  border: none;
}

.botonDelete:hover{
  cursor: pointer;
  color: rgb(125, 125, 125) ;
}

.pruebasContainer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  white-space: nowrap;
  margin-top: 15px;
}
.cadaPrueba {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.cadaPrueba p {
  border: 1px solid rgb(102, 102, 102);
  padding: 0.5em 1em;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  white-space: nowrap;
} 

.frenteData {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.atrasData ul {
  list-style-type: square;
  text-align: left;
  padding-top: 2px;
  padding-right: 0.5em;
  padding-left: 0;
  margin: -10px;
  width: 100%;
}

.atrasData li {
  margin-bottom: 0.5em;
}

.estContainer{
 width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.estContainer button{
  width: 40px;
  border-radius: 10px;
}

.estContainer button:hover{
  background-color: rgb(125, 125, 125);
  cursor: pointer;
}

.inputEst{
  width: 100%;
  resize: none; 
  overflow: hidden;
  min-height: 2em; 
}

.botonContainer {
  cursor: pointer;
}

.botonesFinalizar{
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding-bottom: 0.8em;
  
}

.botonesFinalizar button{
  border-radius: 10px;
}

.botonesFinalizar button:hover{
  background-color: rgb(125, 125, 125);
  cursor: pointer;
}


input{
  width: 100%;
  height: 2em;
}

.inputPruebas, .inputCordura{
  width: 100%;
  resize: none; 
  overflow: hidden;
  min-height: 2em; 
}

.labelCordura{
  margin-top: 0;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divEstrategia {
  text-align: center;
  margin: 0;
  position: relative;
  /* border: 1px solid red; */
}

.icon-dte {
  position: absolute;
  left: 90%;
  bottom: 0.8em;
  background: none;
  border: none;
  color: rgba(255, 0, 0, 0.689);
  cursor: pointer;
  font-size: 1.15em;
}

.icon-dte:hover {
  transform: scale(1.25);
}