.container {
  width: 19em;
  height: 20em;
  text-align: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: rgb(53, 52, 52);
  margin-bottom: 3em;
  position: relative;
  border-radius: 10px;
  overflow-y: auto;
}

.container:hover {
  transform: scale(1.1);
}

.info{
  padding: 10px;
}

.contenidoVoltear {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.contenidoVoltear.hidden {
  opacity: 0;
}

h3 {
  font-size: 18pt;
}

.botonEditar {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.botonEditar:hover {
  background-color: rgb(63, 62, 60);
  cursor: pointer;
}

.pruebasContainer {
  width: 100%;
  margin: 0;
   display: flex;
  justify-content: center;
  gap: 0.5em;
  white-space: nowrap;
  margin-top: 5px;
}
.cadaPrueba {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  flex-wrap: wrap;
}

.cadaPrueba p {
  border: 1px solid rgb(102, 102, 102);
  padding: 0.5em 1em;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  white-space: nowrap;
} 

.frenteData {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: auto;
  height: auto;
}

.atrasData ul {
  list-style-type: square;
  text-align: justify;
  padding-right: 0.75em;
  padding-left: 0.5em;
}

.atrasData li {
  margin-bottom: 0.5em;
}

.botonContainer {
  cursor: pointer;
}

.botonesFinalizar{
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding-bottom: 0.8em;
}


input{
  width: 18em;
  height: 2em;
}

.labelCordura{
  margin-top: 0;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}