*{
  margin: 0.5em;
}

.fichaContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fantAdd{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -1em;
  position: relative;
}

.btnAgregarFant{
  cursor: pointer;
  font-size: 2em;
  border: none;
  background: none;
  position: absolute;
}

.fantAdd ul{
  border: 1px solid ;
  margin: 0;
  padding: 0;
  z-index: 100;
  background-color: rgb(73, 73, 73);
  position: absolute;
  right: 39%;
  top: 1.5em;
  list-style: none;
  border: none;
  border-radius: 10px;
}

.fantAdd ul:hover{
  cursor: pointer;
  color: rgb(148, 148, 200);
}